/* popup styles */
body {
    font-size: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 450px;
    
  }
  
  .rgbinput {
    width: 25px;
  }
  
  .hexinput {
    width: 50px;
    margin-left: 4px;
  }
  
  h1 {
    height: 100px;
    background-image: url(../images/explosion-de-couleur.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 3.5em;
    text-shadow: 2px 2px rgb(54, 54, 54);
    display: grid;
    place-items: center;
    
  }
  
  .corner-button {
    bottom: 10px;
    right: 10px;
    position: fixed;
    margin: 0;
  }
  
  .corner-button:hover {
    opacity: 90%;
  }
  
  #Colorblind-Picker form {
    padding: 20px;
   
  }
  
  .checkbox-custom,
  .radio-custom {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-custom,
  .checkbox-custom-label,
  .radio-custom,
  .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    transition: background-color .2s;
  }
  
  .checkbox-custom-label,
  .radio-custom-label {
    position: relative;
    width: 100%;
  }
  
  
  .radio-custom+.radio-custom-label:before {
    border-radius: 50%;
  }
    
 
  form div:hover {
    background-color: rgb(230, 230, 230)
  }
  
  input:checked + label {
  background-color:#E5E4E4;   
  border-radius: 10px;
  width: 99%;
  height: 50%;  
  padding: 4px;
  }

  form div {
    border-radius: 10px;
  }

  